<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>George's Blog</title>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#my-navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
          <a class="navbar-brand" href="{% url 'home' %}">
           <p>George's Blog</p>
          </a>
        </div>
        <div class="collapse navbar-collapse" id="my-navbar">
      <ul class="nav navbar-nav">
      <li><a href="{% url 'about' %}">About</a></li>
      <li><a href="https://www.linkedin.com/in/george-makris/" target="_blank">LinkedIn</a></li>
      <li><a href="https://github.com/georgemakris72" target="_blank">Github</a></li>
      </ul>
    </div>
      </div>
    </nav>
    <div class="container" style='margin-bottom:50px;'>
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      {% load static %}
      <img src="{% static 'sitepages/car.jpg' %}" class="img-responsive center-block" style='max-height:400px'/>
    </div>
    <div class="col-sm-1"></div>
  </div>
  <div class="container">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <p><span style="font-size:24px;"><b>George's Blog</b> </span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam efficitur, leo ac auctor volutpat, leo nulla aliquam est, vel semper diam magna a felis. Nunc quis libero sit amet risus dapibus mattis. Fusce feugiat egestas erat sit amet accumsan. Aliquam erat volutpat. Duis finibus est in aliquet elementum. Nunc gravida lacus non posuere mattis. Fusce vitae ligula libero. Quisque eros leo, semper vel quam sed, suscipit pulvinar lacus. Etiam cursus dolor id elit feugiat ultricies.</p>

<p>Phasellus rhoncus nisi a finibus finibus. Duis sagittis ex eget arcu lacinia vulputate. Pellentesque euismod enim eget maximus pulvinar. Nulla justo velit, porta sit amet nisi rhoncus, vulputate egestas justo. Ut iaculis lectus in faucibus dignissim. Sed viverra malesuada risus in iaculis. Nam accumsan, nisi et accumsan volutpat, enim tortor efficitur eros, eu molestie nulla lectus a tortor. Cras maximus euismod lorem, at scelerisque diam egestas tempus. Sed consectetur sollicitudin vulputate. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

<p>Sed at dui vitae massa efficitur lobortis et et ante. Mauris fermentum, neque sed molestie eleifend, massa nulla eleifend dolor, quis lobortis ante quam id lacus. In imperdiet tincidunt ipsum, eu ornare elit laoreet nec. Praesent malesuada, metus vitae blandit pharetra, elit eros suscipit massa, viverra euismod dolor augue a sem. </p>
    </div>
    <div class="col-sm-3"></div>
  </div>

  <div class="container">
    <div class="col-sm-5"></div>
    <div class="col-sm-2">
      <h2><a href="{% url 'contact' %}">Contact Us</a></h2>
    </div>
    <div class="col-sm-5"></div>
  </div>
    <!-- //  jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <!-- // Include all compiled plugins (below), or include individual files as needed -->

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>
